* {
  font-family: 'Titillium Web', sans-serif !important;
}

p {
  margin: 0px 0px 0px !important;
}

header {
  height: 49,5vh;
  text-align: center;
  background-color: #d8232a;
}

.head {
  padding: 70px;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.colore1 {
  color: #d8232a;
  font-size: 50px;
  font-weight: bold;
}

.colore2 {
  color: black;
  font-size: 40px;
}

.tagline {
  margin-left: 70px;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  color: #d8232a;
}

.logo {
  width: 150px;
}

img {
  max-width: 100%;
}

.title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  background-color: #d8232a;
}

.menu {
  text-decoration: none;
  text-align: center;
  height: 180px;
  line-height: 180px;
  width: 180px;
  color: white;
}

.menu:hover {
  background-color: white;
  color: #d8232a;
  border: none;
}

.margin {
  margin-right: 10px;
}

.active {
  color: #d8232a !important;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #91918f;
  width: 180px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
  color: #d8232a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbnt {
  background-color: white !important;
  color: #d8232a !important;
}

.hamburger {
  display: none;
}

.menu-mobile {
  display: none;
}

#home-nav-mobile {
  display: none;
}

main {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

.text-akk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.title-akk {
  font-weight: bold;
  color: #d8232a;
  font-size: 25px;
}

#subtitle {
  font-style: italic;
  color: black;
  font-size: 18px;
  margin-top: -15px;
  margin-bottom: 3vh !important;
}

#img-text-2 {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-container {
  height: 45vh;
  float: right;
  margin-left: 2vw;
  margin-bottom: 2vh;
  margin-top: 1vh;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.img-text {
  text-align: justify;
  min-height: 46vh;
}

.title2 {
  margin-top: 10vh;
  text-align: center;
  font-weight: bold;
  color: #d8232a;
  font-size: 25px;
  margin-bottom: 3vh !important;
}

.img-eventi-passati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img-container-2 {
  height: 46vh;
  margin-bottom: 4vh;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #333;
}

.img-eventi-passati-2 {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.img-eventi-passati-2:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
}

footer {
  background-color: #d8232a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px;
}

#f-img {
  width: 90px;
}

#f-p {
  color: white;
}

#f-p2 {
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media all and (max-width: 600px) {
  .head {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 22vh;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4vh !important;
    padding-bottom: 4vh;
    text-align: left;
  }
  .colore1 {
    font-size: 25px;
  }
  .colore2 {
    font-size: 20px;
  }
  .tagline {
    font-size: 17px;
    margin-left: 25px;
    margin-top: -5px;
  }
  .home-nav {
    display: none;
  }
  .hamburger {
    width: 10vw;
  }
  #decore-b {
    height: 50px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    background-color: #d8232a;
    padding-right: 10%;
  }
  #burger {
    width: 30px;
    height: 30px;
    fill: white;
    margin: 10px;
  }
  .menu-mobile {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 15px;
  }
  #home-nav-mobile {
    background-color: #91918f;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #home-nav-mobile > a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  #mobile-menu-sub-section {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mobile-menu-sub-section > a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  .active {
    color: #d8232a !important;
    background-color: #91918f;
    font-weight: bold;
  }
  main {
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 20%;
    margin-right: 20%;
  }
  .title-akk {
    font-size: 20px;
    margin-bottom: 0 !important;
  }
  #subtitle {
    font-size: 15px;
    margin-bottom: 0 !important;
  }
  #img-text-2 {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .img-container {
    height: 270px;
    margin-left: 0;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }
  .img-text {
    min-height: 0;
    font-size: 12px;
  }
  .title2 {
    margin-top: 4vh;
    margin-bottom: 2vh !important;
    font-size: 20px;
  }
  .img-eventi-passati {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .img-container-2 {
    height: 220px;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
  }
  .img-eventi-passati-2 {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 1;
    -webkit-transition: inherit;
    transition: inherit;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: inherit;
  }
  .img-eventi-passati-2:hover {
    display: none;
  }
  footer {
    padding: 15px;
  }
  #f-img {
    width: 50px;
    margin: 10px;
  }
  #f-p {
    font-size: 9px;
    text-align: center;
    margin: 10px;
  }
  #f-p2 {
    font-size: 9px;
    margin: 10px;
  }
}
/*# sourceMappingURL=style-akk.css.map */