* { font-family: 'Titillium Web', sans-serif !important;
    background-color: #d8232a;
}

body {
  margin: 0px 0px 0px;
}

img { max-width: 100%;
}

header { 
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo { width: 150px;
}

#back1 {  
  background-color: white;
}

#back {  
    text-decoration: none;
    font-weight: bold;
    color: #d8232a;
    background-color: white;
    font-size: 20px;
    margin-top: 5px;
}

#back:hover {  
    text-decoration: none;
    color: #91918f;
}

main {
  margin-bottom: 10vh;
}

#title { 
    padding-top: 5vh;
    text-align: center;
    font-weight: bold;
    color: white;
}

.title2 {
  font-weight: bold;
  color: white;
  text-align: left;
  margin-top: 5vh;
  margin-left: 10vw;
}

.title3 {
  font-weight: bold;
  color: white;
  text-align: left;
  margin-top: 2vh;
  margin-left: 12vw;
}

.title4 {
  font-weight: bold;
  color: white;
  text-align: left;
  margin-top: 2vh;
  margin-left: 14vw;
}

.par-1 {
  color: white;
  text-align: left;
  margin-left: 10vw;
  margin-right: 10vw;
}

.par-2 {
  color: white;
  text-align: left;
  margin-top: -1vh;
  margin-left: 15vw;
  margin-right: 10vw;
}

.par-3 {
  color: white;
  text-align: left;
  margin-top: -1vh;
  margin-left: 13vw;
  margin-right: 10vw;
}

.img-1 {
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.img-2 {
  width: 400px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
}



@media all and (max-width:  600px){
  header { 
    height: 25vh;
}

.logo { width: 120px;
  background-color: white;
}

#back1 {  
  background-color: white;
}

#back {  
    font-size: 18px;
}

main {
  margin-bottom: 4vh;
  margin-left: 10%;
  margin-right: 10%;
}

#title { 
    padding-top: 1vh;
    margin-bottom: 0px !important;
    font-size: 25px;
}

.title2 {
  margin-top: 1vh;
  margin-left: 0px;
  font-size: 22px;
  margin-bottom: 0px;
}

.title3 {
  font-size: 20px;
  margin-top: 1vh;
  margin-left: 0px;
  margin-bottom: 0px;
}

.title4 {
  margin-top: 1vh;
  margin-left: 0px;
  font-size: 18px;
  margin-bottom: 0px;
}

.par-1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0px;
  font-size: 12px;
}

.par-2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.par-3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.img-1 {
  width: 280px;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.img-2 {
  width: 280px;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
  

}

















