* { font-family: 'Titillium Web', sans-serif !important;
    background-color: #d8232a;
}

body {
  margin: 0px 0px 0px;
}

img { max-width: 100%;
}

p { margin: 0px 0px 0px;
}

header { 
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo { width: 150px;
}

#back1 {  
  background-color: white;
}

#back {  
    text-decoration: none;
    font-weight: bold;
    color: #d8232a;
    background-color: white;
    font-size: 20px;
    margin-top: 5px;
}

#back:hover {  
    text-decoration: none;
    color: #91918f;
}

main {
  margin-bottom: 10vh;
}

#title { 
    padding-top: 2vh;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 35px;
}

.title2 {
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-align: left;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-bottom: 1vh;
}

.title3 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align: left;
  margin-top: 2vh;
  margin-bottom: 1vh;
  margin-left: 12vw;
}

.title4 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: left;
  margin-bottom: 1vh;
  margin-top: 1vh;
  margin-left: 14vw;
}

.par-1 {
  color: white;
  text-align: left;
  margin-left: 10vw;
  margin-right: 10vw;
}

.par-2 {
  color: white;
  text-align: left;
  margin-left: 15vw;
  margin-right: 10vw;
}

.elenco {
  color: white;
  text-align: left;
  margin-left: 15vw;
  margin-right: 10vw;
  margin-top: 0px;
  margin-bottom: 0px;
}

.link {
  color: white;
}

.par-3 {
  color: white;
  text-align: left;
  margin-left: 13vw;
  margin-right: 10vw;
}

.img-1 {
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.img-2 {
  width: 400px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

#container-2 {
  max-width: 400px;
  position: relative;
  margin: auto;
}

#text4 {
  color: white;
  background-color: #00000086;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  width: 400px;
  text-align: center;
}

.img-3 {
  width: 620px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.slide {
  margin-top: 2vh;
  margin-bottom: 3vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.slideshow-container2 {
  max-width: 220.99px;
  position: relative;
  margin: auto;
}

.size {
  height: 439.45px;
}

.mySlides, .mySlides2 {
  display: none;
}

.numbertext {
  color: #f2f2f2;
  background-color: #00000086;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.numbertext2 {
  color: #f2f2f2;
  background-color: #00000086;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  border-top-left-radius: 31px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -35px;
  padding: 16px;
  color: #91918f;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: transparent;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #00000086;
  color: white;
}

.text {
  color: white;
  background-color: #00000086;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  bottom: 8px;
  width: 500px;
  text-align: center;
}

.text2 {
  color: white;
  background-color: #00000086;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  bottom: 8px;
  width: 220.99px;
  text-align: center;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
}

#container-1 {
  max-width: 620px;
  position: relative;
  margin: auto;
}

#text3 {
  color: white;
  background-color: #00000086;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 7px;
  padding-top: 7px;
  position: absolute;
  bottom: 0px;
  width: 620px;
  text-align: center;
}

.dot-group {
  margin-top: 10px;
}

.dot, .dot2 {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.dot2:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media all and (max-width:  600px){
  header { 
    height: 25vh;
}

.logo { width: 100px;
  background-color: white;
}

#back1 {  
  background-color: white;
}

#back {  
    font-size: 16px;
}

main {
  margin-bottom: 4vh;
  margin-left: 40px;
  margin-right: 40px;
}

#title { 
    padding-top: 1vh;
    margin-bottom: 0px !important;
    font-size: 25px;
}

.title2 {
  margin-top: 1vh;
  margin-left: 0px;
  font-size: 22px;
  margin-bottom: 0px;
}

.title3 {
  font-size: 20px;
  margin-top: 1vh;
  margin-left: 0px;
  margin-bottom: 0px;
}

.title4 {
  margin-top: 1vh;
  margin-left: 0px;
  font-size: 18px;
  margin-bottom: 0px;
}

.par-1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0px;
  font-size: 12px;
}

.par-2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 12px;
}

.elenco {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 12px;
}

.par-3 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 12px;
}

.img-1 {
  width: 230px;
  margin-bottom: 2vh;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.img-2 {
  width: 210px;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

#container-1 {
  max-width: 240px;
}

#text3 {
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 240px;
}

#container-2 {
  max-width: 210px;
}

#text4 {
  font-size: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 210px;
}

.img-3 {
  width: 240px;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
  
.slide {
  margin-top: 2vh;
  margin-bottom: 3vh;
  justify-content: center;
}

#element {
  margin-top: 4vh;
}

.slideshow-container {
  width: 220px;
}

.slideshow-container2 {
  width: 150px;
}

.size {
  height: auto;
}

.numbertext {
  padding: 6px 8px;
}

.numbertext2 {
  padding: 6px 8px;
  border-top-left-radius: 27px;
}

.prev, .next {
  color: #00000086;
  margin-top: -30px;
  padding: 12px;
  font-size: 18px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  text-decoration: none;
  background-color: transparent;
  color: #00000086;
}

.text {
  font-size: 12px;
  width: 220px;
  bottom: 6px;
}

.text2 {
  font-size: 12px;
  width: 150px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.dot-group {
  margin-top: 0px;
}

.dot, .dot2 {
  height: 10px;
  width: 10px;
}

}

















